[Desktop Entry]
Name=PrettyChord
Comment=A chord sheet editor and viewer
Exec=prettychord
Icon=io.github.whiver.prettychord
Terminal=false
Type=Application
Categories=GTK;Utility;
StartupNotify=true
Keywords=chord;guitar;music;tab;
